

*:focus {outline: none;}
.contact_form h2, .contact_form label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .required_notification {font-size: 12px;}


.contact_form ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.contact_form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}



.contact_form li:first-child, .contact_form li:last-child {
    border-bottom:1px solid #777;
}

.contact_form h2 {
    margin:0;
    display: inline;
}
.required_notification {
    color:#d45252;
    margin:5px 0 0 0;
    display:inline;
    float:right;
}

.contact_form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.contact_form input[type="text"],input[type="select"],input[type="email"],input[type="password"] {
    height:30px;
    width:220px;
    padding:5px 8px;
}
.contact_form textarea {padding:8px; width:300px;}

.contact_form input, .contact_form textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
     -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
.contact_form input:focus, .contact_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
     padding-right:70px;
}

.contact_form input, .contact_form textarea {
    padding-right:30px;
}

.required {
	 color:#ff0a16;
   	font-size:12px;
}

/* Button Style */

.button {
background: #ad015a;
border: none;
padding: 10px 25px 10px 25px;
color: #FFF;
heigth:30px;
box-shadow: 1px 1px 5px #B6B6B6;
border-radius: 3px;
text-shadow: 1px 1px 1px #9E3F3F;
cursor: pointer;
}

.button1 {
background: #E27575;
border: none;
padding: 10px 25px 10px 25px;
color: #FFF;
heigth:30px;
box-shadow: 1px 1px 5px #B6B6B6;
border-radius: 3px;
text-shadow: 1px 1px 1px #9E3F3F;
cursor: pointer;
}
.button:hover {
background: #CF7A7A
}
.button1:hover {
background: #ad000a
}

 .yzm-img{  width:112px; background:(url(../images/code.jpg) no-repeat;}