@charset "utf-8";
/* CSS Document */
/***
 * 
 * http://www..com
 * e-mail: admin@.com
 */
*{font-size:9pt;border:0;margin:0;padding:0;}
body{font-family:'微软雅黑'; margin:0 auto;min-width:980px;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
li{display:block;margin:0;padding:0;list-style: none;}

/*right.html*/
.place{height:40px; background:url(../images/righttop.gif) repeat-x;}
.place span{line-height:40px; font-weight:bold;float:left; margin-left:12px;}
.placeul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(../images/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}
.rightinfo{padding:8px;}
.tools{clear:both; height:35px; margin-bottom:8px;}
.toolbar{float:left;}
.toolbar li{background:url(../images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-right:5px;border-radius: 3px; behavior:url(js/pie.htc); cursor:pointer;}
.toolbar li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}
.toolbar1{float:right;}
.toolbar1 li{background:url(../images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-left:5px;border-radius: 3px; behavior:url(js/pie.htc);}
.toolbar1 li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}
.tablelist{border:solid 1px #cbcbcb; width:100%; clear:both;}
.tablelist th{background:url(../images/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2; text-indent:11px; text-align:left;}
.tablelist td{line-height:35px; text-indent:11px; border-right: dotted 1px #c7c7c7;}
.table-detail{border:solid 1px #cbcbcb; width:100%; clear:both; margin-bottom:20px;}
.table-detail th{background:url(../images/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2; text-indent:11px; text-align:right;}
.table-detail td{line-height:35px; text-indent:11px; border-right: dotted 1px #c7c7c7;border-bottom:solid 1px #b6cad2;}

.tabson{margin:18px 0px;}
/*seachform*/
.seachform{ height:42px;}
.seachform li{float:left; margin-right:15px;}
.seachform li label{padding-right:10px; float:left; line-height:32px;}
.scinput{width:150px; height:32px; line-height:32px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; text-indent:10px;}
.scbtn{width:85px;height:35px; background:url(../images/btnbg.png) no-repeat center; font-size:14px;font-weight:bold;color:#fff; cursor:pointer;border-radius:3px; behavior:url(js/pie.htc);}

.code {
			background:url(../images/yzm-img.png) no-repeat	center;
            font-family:Arial;
            font-style:italic;
             font-color:#000;
             font-size:24px;
             letter-spacing:10px;
             font-weight:bolder;   
             margin-left:5px;    
             cursor:pointer;
             position:absolute;
             width:100px;
             height:42px;
             line-height:42px;
             text-align:center;
             vertical-align:middle;
    }
    
.insert-tab{
	border:1px;
	
	}
	
	.insert-tab tr{
	border:1px;
	
	}
	
	.insert-tab tr td{
	 margin-top:10px;    
	 margin-bottom:10px;  
	}
	
	.insert-tab tr th{
	 margin-top:10px;    
	 margin-bottom:10px;  
	}