<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ht</display-name>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.utils.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.utils.CounterListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ServletConfigurator</servlet-name>
    <servlet-class>       
   org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
    <init-param>
      <param-name>xmlFile</param-name>
      <param-value>WEB-INF/proxool.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/admin/NewsServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>NewsServlet_USER</servlet-name>
    <servlet-class>com.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet_USER</servlet-name>
    <url-pattern>/NewsServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/AdminServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/admin/UserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet_USER</servlet-name>
    <servlet-class>com.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet_USER</servlet-name>
    <url-pattern>/UserServlet.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>BranchServlet</servlet-name>
    <servlet-class>com.servlet.BranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchServlet</servlet-name>
    <url-pattern>/admin/BranchServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BranchServlet_USER</servlet-name>
    <servlet-class>com.servlet.BranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchServlet_USER</servlet-name>
    <url-pattern>/BranchServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>com.servlet.VideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/admin/VideoServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ActivityServlet_USER</servlet-name>
    <servlet-class>com.servlet.ActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityServlet_USER</servlet-name>
    <url-pattern>/ActivityServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AboutServlet_USER</servlet-name>
    <servlet-class>com.servlet.AboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutServlet_USER</servlet-name>
    <url-pattern>/AboutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhilanthropyServlet_USER</servlet-name>
    <servlet-class>com.servlet.PhilanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhilanthropyServlet_USER</servlet-name>
    <url-pattern>/PhilanthropyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SchoolServlet_USER</servlet-name>
    <servlet-class>com.servlet.SchoolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchoolServlet_USER</servlet-name>
    <url-pattern>/SchoolServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactServlet_USER</servlet-name>
    <servlet-class>com.servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet_USER</servlet-name>
    <url-pattern>/ContactServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ShopServlet_USER</servlet-name>
    <servlet-class>com.servlet.ShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServlet_USER</servlet-name>
    <url-pattern>/ShopServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>  
        <servlet-name>WeiXinServlet</servlet-name>  
        <servlet-class>com.servlet.WeiXinServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>WeiXinServlet</servlet-name>  
        <url-pattern>/WeiXinServlet</url-pattern>  
    </servlet-mapping> 
    <servlet>  
        <servlet-name>CoreServlet</servlet-name>  
        <servlet-class>com.weixin.servlet.CoreServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>CoreServlet</servlet-name>  
        <url-pattern>/CoreServlet</url-pattern>  
    </servlet-mapping>  
    
      <servlet>  
        <servlet-name>oauthServlet</servlet-name>  
        <servlet-class>com.weixin.servlet.OAuthServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>oauthServlet</servlet-name>  
        <url-pattern>/oauthServlet</url-pattern>  
    </servlet-mapping>  
      <servlet>  
        <servlet-name>ModularServlet</servlet-name>  
        <servlet-class>com.servlet.ModularServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>ModularServlet</servlet-name>  
        <url-pattern>/admin/ModularServlet.do</url-pattern>  
    </servlet-mapping>  
     <servlet>  
        <servlet-name>ModularServlet_WEIXIN</servlet-name>  
        <servlet-class>com.servlet.ModularServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>ModularServlet_WEIXIN</servlet-name>  
        <url-pattern>/weixin/ModularServlet.do</url-pattern>  
    </servlet-mapping> 
     <servlet>  
        <servlet-name>ModularServlet_USER</servlet-name>  
        <servlet-class>com.servlet.ModularServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>ModularServlet_USER</servlet-name>  
        <url-pattern>/ModularServlet.do</url-pattern>  
    </servlet-mapping> 
     <servlet>  
        <servlet-name>WeixinShopServlet</servlet-name>  
        <servlet-class>com.weixin.servlet.WeixinShopServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>WeixinShopServlet</servlet-name>  
        <url-pattern>/WeixinShopServlet</url-pattern>  
    </servlet-mapping> 
    
     <servlet>  
        <servlet-name>ProductTypeServlet</servlet-name>  
        <servlet-class>com.servlet.ProductTypeServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>ProductTypeServlet</servlet-name>  
        <url-pattern>/admin/ProductTypeServlet</url-pattern>  
    </servlet-mapping> 
    
     <servlet>  
        <servlet-name>ProductServlet</servlet-name>  
        <servlet-class>com.servlet.ProductServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>ProductServlet</servlet-name>  
        <url-pattern>/admin/ProductServlet</url-pattern>  
    </servlet-mapping> 
    
      <servlet>  
        <servlet-name>ProductServlet_WEIXIN</servlet-name>  
        <servlet-class>com.servlet.ProductServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>ProductServlet_WEIXIN</servlet-name>  
        <url-pattern>/weixin/ProductServlet</url-pattern>  
    </servlet-mapping> 
    
     <servlet>  
        <servlet-name>AddressServlet_WEIXIN</servlet-name>  
        <servlet-class>com.servlet.AddressServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>AddressServlet_WEIXIN</servlet-name>  
        <url-pattern>/weixin/AddressServlet</url-pattern>  
    </servlet-mapping> 
    
     <servlet>  
        <servlet-name>OrderServlet_WEIXIN</servlet-name>  
        <servlet-class>com.servlet.OrderServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>OrderServlet_WEIXIN</servlet-name>  
        <url-pattern>/weixin/OrderServlet</url-pattern>  
    </servlet-mapping> 
     <servlet>  
        <servlet-name>ChargeApplyServlet_Admin</servlet-name>  
        <servlet-class>com.servlet.ChargeApplyServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>ChargeApplyServlet_Admin</servlet-name>  
        <url-pattern>/admin/ChargeApplyServlet.do</url-pattern>  
    </servlet-mapping> 
     <servlet>  
        <servlet-name>AccountDetailServlet_Admin</servlet-name>  
        <servlet-class>com.servlet.AccountDetailServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>AccountDetailServlet_Admin</servlet-name>  
        <url-pattern>/admin/AccountDetailServlet.do</url-pattern>  
    </servlet-mapping> 
     
</web-app>