<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

  <display-name>weiteng</display-name>

    <!-- 编码过滤器 -->
  <filter>
  <filter-name>EncodingFilter</filter-name>
  <filter-class>com.ssm.utils.EncodingFilter</filter-class>
  <init-param>
  <param-name>encoding</param-name>
  <param-value>UTF-8</param-value>
  </init-param>
  </filter>
  <filter-mapping>
  <filter-name>EncodingFilter</filter-name>
   <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
  <listener-class>com.ssm.utils.CounterListener</listener-class>
  </listener>

  
    <servlet>
  <servlet-name>wechat</servlet-name>
  <servlet-class>com.ssm.weixin.servlet.WeixinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>wechat</servlet-name>
  <url-pattern>/wechat</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>OAuthServlet</servlet-name>
  <servlet-class>com.ssm.weixin.servlet.OAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>OAuthServlet</servlet-name>
  <url-pattern>/wap/OAuthServlet</url-pattern>
  </servlet-mapping>
  
      <servlet>
  <servlet-name>ModuleServlet_WAP</servlet-name>
  <servlet-class>com.ssm.servlet.ModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ModuleServlet_WAP</servlet-name>
  <url-pattern>/wap/ModuleServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>ModuleServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.ModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ModuleServlet_ADMIN</servlet-name>
  <url-pattern>/admin/ModuleServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>AddressServlet_WAP</servlet-name>
  <servlet-class>com.ssm.servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AddressServlet_WAP</servlet-name>
  <url-pattern>/wap/AddressServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  <servlet-name>WeixinUserInfoServlet</servlet-name>
  <servlet-class>com.ssm.weixin.servlet.WeixinUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>WeixinUserInfoServlet</servlet-name>
  <url-pattern>/wap/WeixinUserInfoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>UserServlet_WAP</servlet-name>
  <servlet-class>com.ssm.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserServlet_WAP</servlet-name>
  <url-pattern>/wap/UserServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>OrderServlet_WAP</servlet-name>
  <servlet-class>com.ssm.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>OrderServlet_WAP</servlet-name>
  <url-pattern>/wap/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>RewardDetailServlet_WAP</servlet-name>
  <servlet-class>com.ssm.servlet.RewardDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>RewardDetailServlet_WAP</servlet-name>
  <url-pattern>/wap/RewardDetailServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>RewardDetailServlet_Admin</servlet-name>
  <servlet-class>com.ssm.servlet.RewardDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>RewardDetailServlet_Admin</servlet-name>
  <url-pattern>/admin/RewardDetailServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>AgentApplyServlet_Admin</servlet-name>
  <servlet-class>com.ssm.servlet.AgentApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AgentApplyServlet_Admin</servlet-name>
  <url-pattern>/admin/AgentApplyServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>AgentApplyServlet_WAP</servlet-name>
  <servlet-class>com.ssm.servlet.AgentApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AgentApplyServlet_WAP</servlet-name>
  <url-pattern>/wap/AgentApplyServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>WithDrewServlet_WAP</servlet-name>
  <servlet-class>com.ssm.servlet.WithDrewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>WithDrewServlet_WAP</servlet-name>
  <url-pattern>/wap/WithDrewServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>ProductServlet_WAP</servlet-name>
  <servlet-class>com.ssm.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ProductServlet_WAP</servlet-name>
  <url-pattern>/wap/ProductServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>ProductStockServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.ProductStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ProductStockServlet_ADMIN</servlet-name>
  <url-pattern>/admin/ProductStockServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>UserServlet</servlet-name>
  <servlet-class>com.ssm.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserServlet</servlet-name>
  <url-pattern>/user/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>OrderDeliveryServlet_WAP</servlet-name>
  <servlet-class>com.ssm.servlet.OrderDeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>OrderDeliveryServlet_WAP</servlet-name>
  <url-pattern>/wap/OrderDeliveryServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>OrderDeliveryServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.OrderDeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>OrderDeliveryServlet_ADMIN</servlet-name>
  <url-pattern>/admin/OrderDeliveryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>AdminServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AdminServlet_ADMIN</servlet-name>
  <url-pattern>/admin/AdminServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>DeptServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.DeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DeptServlet_ADMIN</servlet-name>
  <url-pattern>/admin/DeptServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>JobServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.JobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>JobServlet_ADMIN</servlet-name>
  <url-pattern>/admin/JobServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>ProductTypeServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.ProductTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ProductTypeServlet_ADMIN</servlet-name>
  <url-pattern>/admin/ProductTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ProductServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ProductServlet_ADMIN</servlet-name>
  <url-pattern>/admin/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ProductServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ProductServlet_USER</servlet-name>
  <url-pattern>/user/ProductServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>UserServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserServlet_ADMIN</servlet-name>
  <url-pattern>/admin/UserServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>OrderServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>OrderServlet_ADMIN</servlet-name>
  <url-pattern>/admin/OrderServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>OrderServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>OrderServlet_USER</servlet-name>
  <url-pattern>/user/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>CenterServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.CenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CenterServlet_ADMIN</servlet-name>
  <url-pattern>/admin/CenterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>CenterServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.CenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CenterServlet_USER</servlet-name>
  <url-pattern>/user/CenterServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>JoinInfoServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.JoinInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>JoinInfoServlet_ADMIN</servlet-name>
  <url-pattern>/admin/JoinInfoServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>JoinUpdateDetailServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.JoinUpdateDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>JoinUpdateDetailServlet_ADMIN</servlet-name>
  <url-pattern>/admin/JoinUpdateDetailServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>RankManageUpdateDetailServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.RankManageUpdateDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>RankManageUpdateDetailServlet_ADMIN</servlet-name>
  <url-pattern>/admin/RankManageUpdateDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ParamServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.ParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ParamServlet_ADMIN</servlet-name>
  <url-pattern>/admin/ParamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>EmptyNumServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.EmptyNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EmptyNumServlet_ADMIN</servlet-name>
  <url-pattern>/admin/EmptyNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>AccountServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AccountServlet_ADMIN</servlet-name>
  <url-pattern>/admin/AccountServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>AccountServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AccountServlet_USER</servlet-name>
  <url-pattern>/user/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ChargeApplyServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.ChargeApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ChargeApplyServlet_USER</servlet-name>
  <url-pattern>/user/ChargeApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ChargeApplyServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.ChargeApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ChargeApplyServlet_ADMIN</servlet-name>
  <url-pattern>/admin/ChargeApplyServlet</url-pattern>
  </servlet-mapping>

   <servlet>
  <servlet-name>AddressServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AddressServlet_USER</servlet-name>
  <url-pattern>/user/AddressServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>InventoryServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.InventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>InventoryServlet_ADMIN</servlet-name>
  <url-pattern>/admin/InventoryServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>AdminLogServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.AdminLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AdminLogServlet_ADMIN</servlet-name>
  <url-pattern>/admin/AdminLogServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>UserLogServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.UserLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserLogServlet_ADMIN</servlet-name>
  <url-pattern>/admin/UserLogServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>UserLogServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.UserLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserLogServlet_USER</servlet-name>
  <url-pattern>/user/UserLogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>NewsServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>NewsServlet_ADMIN</servlet-name>
  <url-pattern>/admin/NewsServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>NewsServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>NewsServlet_USER</servlet-name>
  <url-pattern>/user/NewsServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>MessageServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MessageServlet_ADMIN</servlet-name>
  <url-pattern>/admin/MessageServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>MessageServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MessageServlet_USER</servlet-name>
  <url-pattern>/user/MessageServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>BankAccountServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.BankAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BankAccountServlet_ADMIN</servlet-name>
  <url-pattern>/admin/BankAccountServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>RewardServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.RewardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>RewardServlet_ADMIN</servlet-name>
  <url-pattern>/admin/RewardServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>RewardServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.RewardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>RewardServlet_USER</servlet-name>
  <url-pattern>/user/RewardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>DRewardServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.DRewardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DRewardServlet_ADMIN</servlet-name>
  <url-pattern>/admin/DRewardServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>DRewardServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.DRewardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DRewardServlet_USER</servlet-name>
  <url-pattern>/user/DRewardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ReportServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ReportServlet_ADMIN</servlet-name>
  <url-pattern>/admin/ReportServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>ReportServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ReportServlet_USER</servlet-name>
  <url-pattern>/user/ReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>WithDrewServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.WithDrewServlet</servlet-class>
  </servlet>
   <servlet-mapping>
  <servlet-name>WithDrewServlet_ADMIN</servlet-name>
  <url-pattern>/admin/WithDrewServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>WithDrewServlet_USER</servlet-name>
  <servlet-class>com.ssm.servlet.WithDrewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>WithDrewServlet_USER</servlet-name>
  <url-pattern>/user/WithDrewServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>PromotionServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.PromotionServlet</servlet-class>
  </servlet>
   <servlet-mapping>
  <servlet-name>PromotionServlet_ADMIN</servlet-name>
  <url-pattern>/admin/PromotionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>AccountSupplementServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.AccountSupplementServlet</servlet-class>
  </servlet>
   <servlet-mapping>
  <servlet-name>AccountSupplementServlet_ADMIN</servlet-name>
  <url-pattern>/admin/AccountSupplementServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ProductSortServlet_ADMIN</servlet-name>
  <servlet-class>com.ssm.servlet.ProductSortServlet</servlet-class>
  </servlet>
   <servlet-mapping>
  <servlet-name>ProductSortServlet_ADMIN</servlet-name>
  <url-pattern>/admin/ProductSortServlet</url-pattern>
  </servlet-mapping>
</web-app>